{% extends 'base.html' %}
{% block title %}{{ article.titre }} - Blog{% endblock %}
{% block content %}
<article>
    <h1>{{ article.titre }}</h1>
    <p class="text-muted">Publié le {{ article.date_publication|date:"d/m/Y H:i" }}</p>
    {% if article.image %}
        <img src="{{ article.image.url }}" class="img-fluid mb-3" alt="{{ article.titre }}">
    {% endif %}
    <div class="mt-4">
        {{ article.contenu|linebreaks }}
    </div>
    <a href="{% url 'blog:list' %}" class="btn btn-secondary">Retour à la liste</a>
</article>
{% endblock %}