{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
<h1>Me contacter</h1>
<p>Choisissez votre moyen de contact préféré :</p>
<div class="list-group">
    <a href="https://wa.me/22671967809" target="_blank" class="list-group-item list-group-item-action">
        <strong>WhatsApp</strong> - Discussion instantanée
    </a>
    <a href="https://m.me/ESolution" target="_blank" class="list-group-item list-group-item-action">
        <strong>Facebook Messenger</strong> - Envoyez-nous un message
    </a>
    <a href="mailto:kaboreamsa@gmail.com" class="list-group-item list-group-item-action">
        <strong>Gmail</strong> - Écrivez-nous par email
    </a>
    <a href="tel:+22671967809" class="list-group-item list-group-item-action">
        <strong>Téléphone</strong> - Appelez-nous directement
    </a>

    <a href="https://www.linkedin.com/in/amsa-kabore-085ba11a6?utm_source=share_via&utm_content=profile&utm_medium=member_android" target="_blank" title="LinkedIn" class="list-group-item list-group-item-action">
        <strong>Linkedin</strong> - Contactez nous sur Linkedin
    </a>

    <!-- YouTube (Ajouté) -->
    <a href="https://www.youtube.com/@user-z3k2n?si=tSkAJcA01x9dhvb4" target="_blank" title="YouTube" class="list-group-item list-group-item-action">
        <strong>Youtube</strong> - Visitez notre chaine Youtube
    </a>
</div>
{% endblock %}