{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
<h1>Me contacter</h1>
<p>Choisissez votre moyen de contact préféré :</p>
<div class="list-group">
    <a href="https://wa.me/22671967809" target="_blank" class="list-group-item list-group-item-action">
        <strong>WhatsApp</strong> - Discussion instantanée
    </a>
    <a href="https://m.me/ESolution" target="_blank" class="list-group-item list-group-item-action">
        <strong>Facebook Messenger</strong> - Envoyez-moi un message
    </a>
    <a href="mailto:kaboreamsa@gmail.com" class="list-group-item list-group-item-action">
        <strong>Gmail</strong> - Écrivez-moi par email
    </a>
    <a href="tel:+22671967809" class="list-group-item list-group-item-action">
        <strong>Téléphone</strong> - Appelez-moi directement
    </a>
</div>
{% endblock %}