{% extends 'base.html' %}
{% block title %}Accueil - ESOLUTION{% endblock %}
{% block content %}
<div class="text-center">
    <h1>Bienvenue sur ESOLUTION</h1>
    <p class="lead">Nous partageons ici nos applications, nos projets web et nos articles promotionnels.</p>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h3>Blog</h3>
            <p>Découvrez nos derniers articles et actualités.</p>
            <a href="{% url 'blog:list' %}" class="btn btn-primary">Voir le blog</a>
        </div>
        <div class="col-md-4">
            <h3>Portfolio</h3>
            <p>Explorez nos réalisations et applications web.</p>
            <a href="{% url 'portfolio:list' %}" class="btn btn-primary">Voir le portfolio</a>
        </div>
        <div class="col-md-4">
            <h3>Contact</h3>
            <p>Discutons de vos projets !</p>
            <a href="{% url 'contact:contact' %}" class="btn btn-primary">Nous contacter</a>
        </div>
    </div>
</div>
{% endblock %}