{% extends 'base.html' %}
{% block title %}Accueil - E-SOLUTION{% endblock %}
{% block content %}
<div class="text-center">
    <h1>Bienvenue sur E-SOLUTION</h1>
    <p class="lead">Je partage ici mes applications, mes projets web et des articles promotionnels.</p>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h3>Blog</h3>
            <p>Découvrez mes derniers articles et actualités.</p>
            <a href="{% url 'blog:list' %}" class="btn btn-primary">Voir le blog</a>
        </div>
        <div class="col-md-4">
            <h3>Portfolio</h3>
            <p>Explorez mes réalisations et applications web.</p>
            <a href="{% url 'portfolio:list' %}" class="btn btn-primary">Voir le portfolio</a>
        </div>
        <div class="col-md-4">
            <h3>Contact</h3>
            <p>Discutons de vos projets !</p>
            <a href="{% url 'contact:contact' %}" class="btn btn-primary">Me contacter</a>
        </div>
    </div>
</div>
{% endblock %}